body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
}

/* Form pages */
h1.logo {
  font-size: 6rem;
  margin: 4rem 0 0 0;
  padding: 0;
}

.coral {
  color: #ff6666;
}

.blue {
  color: rgb(69, 143, 230);
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form-container h2 {
  font-size: 1.7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  margin: 20px 0;
  padding: 0;
}

.form-container {
  background-color: rgb(69, 143, 230);
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  width: 320px;
  margin: 1rem;
}

.form-control {
  color: #F2F2F2;
  font-weight: bold;
  margin: 5px 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.form-control button {
  color: rgb(36, 85, 141);
  height: 40px;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(36, 85, 141);
}

input {
  background-color: #F2F2F2;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  height: 30px;
  margin: 2px 10px 0;
  padding: 0 10px;
  width: 70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.start-page .form-container input:focus {
  outline: 2px solid rgb(19, 58, 102);
  outline-offset: -4px;
}

.form-container label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  margin: 6px 0 0 0;
  padding: 0;
  width: 35%;
  font-size: 1.1rem;
}

.form-container Button {
  color: rgb(36, 85, 141);
  margin: 5px 0;
  height: 40px;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  padding: 0;
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(36, 85, 141);
}

.create-user-form .form-container {
  background-color: #ff9999;
}

.create-user-form .form-container Button {
  background-color: white;
  border: 2px solid #ff6666;
  color: #ff6666;
}

.create-user-form .form-container input:focus {
  outline: 2px solid #ff6666;
  outline-offset: -4px;
}

/* Add puzzle form */
.add-puzzle-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
}

/* System message */
.system-message {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
}

/* Navigation bar */
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  background-color: #9f9f9f;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.settings-bar {
  padding: 10px 25px;
}

.settings-bar h1.logo-small {
  font-size: 2rem;
}

.settings-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.settings {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Matching options area */
.matching-options-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Content area */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.puzzle-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100%;
}

/* Puzzle */
.puzzle-info {
  position: relative;
  width: 100%;
  max-width: 90vw;
  max-height: calc(100vh - 160px - 140px);
  text-align: left;
}

.puzzle-info img {
  max-width: 100%;
  max-height: calc(100vh - 160px - 140px);
  display: block;
  border-radius: 5px;
  object-fit: contain;
}

.heavy {
  font-weight: 600;
}

/* Puzzles */
.puzzles {
  width: 90%;
  overflow: auto;
  padding-bottom: 5%;
}

.puzzles p {
  font-size: 1.5rem;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.puzzles ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.puzzles ul li {
  flex: 0 0 48%; /* each li takes up 50% of the flex container width */
  margin: 2px;
  cursor: pointer; /* makes the li clickable */
  background: #fff; /* optional: background color for the li */
  border-radius: 5px; /* optional: border radius for the li */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* optional: adds shadow for better visibility */
  overflow: hidden;
}

.puzzles ul li img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.puzzles ul li .text-content {
  padding: 8px; /* adds some padding around the text */
  text-align: left; /* centers the text horizontally */
}

.puzzles ul li .text-content {
  padding: 8px; /* adds some padding around the text */
  text-align: left; /* centers the text horizontally */
}

.puzzles ul li h3 {
  font-size: 0.8rem; /* sets the font size of the title */
  margin: 0; /* removes the default margin of the h3 element */
}

.puzzles ul li p {
  font-size: 0.8rem; /* sets the font size of the title */
  margin: 0; /* removes the default margin of the h3 element */
  text-align: left
}

.puzzles a, .puzzles a:visited {
  text-decoration: none;
  color: #3a3a3a;
}

.settings-page {
  position: relative;
  margin-top: 0;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.settings-page button {
  background-color: rgb(69, 143, 230);
  border-radius: 15px;
  font-size: 2rem;
  padding: 10px;
  min-width: 250px;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
  color: #F2F2F2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#delete-button {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

#delete-button button {
  background-color: #be3636;
}

/* Cursor */
.active-link {
  cursor: pointer;
}

.inactive-link {
  cursor: default;
}