@font-face {
  font-family: 'JigsawFont';
  src: url('./assets/fonts/jigsaw-trouserdrop.regular.otf') format('opentype');
}

@font-face {
  font-family: 'HandwritingFont';
  src: url('./assets/fonts/reenie-beanie.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CoinyFont';
  src: url('./assets/fonts/coiny-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ComfortaaFont';
  src: url('./assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

:root {
  --create-user-shadow: 2px 1px 5px rgba(34, 124, 113, 0.8);
  --start-page-shadow: 2px 1px 5px rgb(251, 137, 88, 0.5);
  --form-buttons: linear-gradient(to bottom, rgb(3, 174, 212), rgb(4, 145, 176), rgb(0, 62, 76));
  --transparent: rgba(255, 255, 255, 0.8);
}

#root {
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  /* padding-bottom: 30px; */
  /* background-position: 20%; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  /* background-color: rgb(196, 224, 255); */
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  margin-bottom: 60px;
}

.container {
  position: relative;
  /* background-color: rgb(196, 224, 255); */
  height: 100%;
}

/* Form pages */
.logo-container {
  display: block;
  width: 100%;
  height: 10%;
  margin: 10rem 0 2rem 0;
  position: relative;
  /* background-color: rgb(255, 255, 255, 0.6); */
}

h1.logo {
  margin-top: 0.8rem;
  font-size: 4rem;
  font-weight: 100;
  padding: 0;
  transform: scaleY(1.4);
}

.colorful-title {
  color: white;
}

.create-user > .logo-container > .colorful-title {
  text-shadow: 2px 2px 3px rgb(26, 114, 104);
}

.start-page > .logo-container > .colorful-title {
  /* background: linear-gradient(to bottom, rgb(205, 103, 0), rgb(255, 160, 17), rgb(251, 213, 90), rgb(255, 221, 120));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
  /* color: white; */
  text-shadow: 2px 2px 3px rgb(201, 126, 14);
}

#navigation-title {
  font-size: 2rem;
  margin-top: 5px;
  font-weight: 100;
  padding: 0;
  transform: scaleY(1.4);
  text-shadow: 0px 2px 3px rgb(255, 160, 17, 0.5);
}
/* 
#navigation-title .handwriting {
  font-size: 2.5rem;
  font-weight: 100;
  padding: 0;
  transform: scaleY(1.4);
} */

.green {
  /* font-size: 1.5rem; */
  /* vertical-align: sub; */
  color: rgb(82, 148, 16);
  /* text-shadow: 1px 0px 1px #3e7a3e; */
}

.yellow {
  /* font-size: 1.5rem; */
  color: rgb(219, 162, 3);
  /* vertical-align: sub; */
}

.red {
  font-size: 1.5rem;
  color: rgb(233, 76, 98);
  vertical-align: sub;
}

.blue {
  font-size: 1.5rem;
  vertical-align: sub;
  color: rgb(3, 129, 157);
}

.jigsaw {
  font-family: 'JigsawFont';
}

.handwriting {
  font-family: 'HandwritingFont';
  color: #fafafa;
  font-size: 5rem;
}

.coiny {
  font-family: 'CoinyFont';
}

.start-page,
.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* background-image: url('./assets/images/background.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.form-container h2 {
  font-size: 1.7rem;
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-weight: normal;
  text-shadow: var(--create-user-shadow);
  margin: 20px 0;
  padding: 0;
}

div.form-container {
  background-color: rgb(250, 212, 88);
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  width: 320px;
  margin: 1rem;
}

.form-control {
  color: #F2F2F2;
  font-weight: bold;
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form-control input {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  height: 30px;
  margin: 2px 10px 0;
  padding: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.start-page .form-container input:focus {
  outline: 2px solid rgb(251, 137, 88, 0.9);
  outline-offset: -4px;
}

.form-container label {
  text-shadow: var(--start-page-shadow);
  font-family: 'ComfortaaFont', Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 6px 0 0 10px;
  padding: 0;
  font-size: 1.2rem;
}

.form-container Button {
  color: rgb(251, 137, 88, 0.9);
  margin: 8px 0 0 0;
  height: 35px;
  padding-top: 5px;
  font-size: 1.2rem;
  font-family: 'ComfortaaFont', Arial, Helvetica, sans-serif;
  background-color: white;
  width: 80%;
  border-radius: 15px;
  border: none;
  box-shadow: var(--start-page-shadow);
}

.form-control button {
  margin-left: 10%;
}

.create-user .form-container {
  background-color: rgb(93, 194, 183);
}

.create-user .form-container label {
  text-shadow: var(--create-user-shadow);
}

.create-user .form-container Button {
  background-color: white;
  color: rgba(44, 158, 145, 0.8);
  box-shadow: var(--create-user-shadow);
}

.create-user .form-container input:focus {
  outline: 2px solid rgba(44, 158, 145, 0.8);
  outline-offset: -4px;
}

/* Puzzle form */
.puzzle-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.puzzle-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1.2rem;
  margin: 10px 10px 0 10px;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  width: 90vw;
  padding: 0 10px;
}

.puzzle-text h3 {
  font-size: 2rem;
}

.puzzle-form label {
  font-size: 1.2rem;
  margin: 10px 10px 0 10px;
}

.puzzle-form button {
  margin-top: 15px;
}

.puzzle-form input[type=text] {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  margin: 2px 0;
  padding: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

/* TODO: Fixa denna */
.react-datepicker button[type="button"] {
  content: "Välj datum";
  background-color: #ff6666;
  color: white;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.60);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
}

.puzzle-form .react-datepicker__input-container input[type=text] {
  margin-left: 10px;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  width: 95%;
  height: 100px;
  margin-top: 3px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}

textarea input[type=text] {
  font-size: 1.2rem;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}

input[type=file]::file-selector-button {
  content: 'Välj bild';
  display: inline-block;
  background-image: var(--form-buttons);
  /* background-color: rgb(69, 143, 230); */
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.error-list {
  width: 95vw;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.error-list ul {
  margin: 0;
  padding: 0;
}

.error-list ul {
  margin: 0;
  padding: 0;
}

.error-list li:nth-child(1) {
  margin-top: 30px;
}

.error-list li:last-child {
  margin-bottom: 30px;
}

.puzzle-point {
  margin-left: 10px;
}

/* System message */
.system-message {
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 1.4rem;
}

/* Navigation bar */
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  background: linear-gradient(to bottom, rgb(255, 160, 17), rgb(251, 213, 90), rgb(255, 221, 120));
  /* background-color: rgb(69, 143, 230); */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-component {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.navigation-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logout-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.logout-button button {
  background: transparent;
  border: none;
}

.logout-button button img {
  width: 30px;
  height: 30px;
}

.navigation-component h1 {
  margin: 0;
  padding-top: 5px;
  font-family: 'CoinyFont', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3rem;
}

/* Content area */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  height: 100vh;
  margin-top: 60px;
  margin-bottom: 0;
  /* padding-bottom: 30px; */
  /* background-color: rgb(196, 224, 255); */
  /* background-image: url('./assets/images/background.jpg'); */
  background-color: transparent;
  border-radius: 5px;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.puzzle-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  /* height: 100%; */
  padding-bottom: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.button-area {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* background-color: rgb(196, 224, 255); */
}

.puzzle-area Button {
  display: inline-block;
  background-image: var(--form-buttons);
  color: white;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.692);
  padding: 9px 10px 5px 10px;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.2rem;
}

.puzzle-area input[type='checkbox'] {
  accent-color: #c86304;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Puzzle */
.puzzle-info {
  position: relative;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  padding-bottom: 30px;
  background-color: var(--transparent);
  color: rgb(0, 79, 96);
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.puzzle-info img {
  width: 95vw;
  margin: 0 0 5px 0;
  display: block;
  border-radius: 5px;
  object-fit: contain;
}

.heavy {
  font-weight: bold;
}

/* Puzzles */
.puzzles {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 5%;
}

.option-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
}

.option-button-container button {
  background-color: transparent;
  color: white;
  padding-left: 0 10px;
  /* font-weight: 100; */
  border: none;
  cursor: pointer;
  font-size: 4rem;
}

.option-button-container button#filter-button {
  margin-top: 0;
  /* padding-top: 0; */
}

.option-button-container button#filter-button img {
  width: 32px;
  height: 32px;
  padding-bottom: 7px;
}

.main-options-area {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.filter-field {
  display: flex;
  flex-direction: row;
  background-color: var(--transparent);
  justify-content:space-evenly;
  border-radius: 5px;
  padding: 10px 5px;
}

input[type=radio] {
  display: none;
}

#lent-out-button-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 4px dotted rgb(233, 76, 98);
}

fieldset div label {
  display: block;
  margin: 5px 0;
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

fieldset div label.active-option {
  font-weight: bold;
}

#pieces-number-filter {
  display: block;
  border: 2px dotted rgb(82, 148, 16);
}

#pieces-number-options {
  display: inline-block;
}

.puzzles p {
  font-size: 1.5rem;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.puzzles ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.puzzles ul li {
  flex: 0 0 48%;
  margin: 5px 3px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  overflow: hidden;
}

.puzzles ul li img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.puzzles ul li .text-content {
  padding: 8px;
  text-align: left;
}

.puzzles ul li h3 {
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* color: rgb(3, 174, 212), rgb(4, 145, 176), rgb(0, 62, 76); */
  color: rgb(3, 129, 157);
  font-size: 1rem;
  margin: 0;
}

.puzzles ul li p {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 0 3px 0;
  text-align: left
}

.puzzles a, .puzzles a:visited {
  text-decoration: none;
  color: #3a3a3a;
}

.image-container {
  position: relative;
}

.lent-out::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.button-area #delete-button {
  background-image: linear-gradient(to bottom, rgb(201, 115, 105), rgb(195, 69, 56), rgb(149, 30, 16));
}

.loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: 'ComfortaaFont', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loading p {
  font-size: 1.5rem;
  margin-top: 50px;
}

/* Cursor */
.active-link {
  cursor: pointer;
}

.inactive-link {
  cursor: default;
}