@font-face {
  font-family: 'JigsawFont';
  src: url('./assets/fonts/jigsaw-trouserdrop.regular.otf') format('opentype');
}

@font-face {
  font-family: 'HandwritingFont';
  src: url('./assets/fonts/reenie-beanie.regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
  background-color: rgb(196, 224, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.App {
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  background-color: rgb(196, 224, 255);
  height: 100%;
}

/* Form pages */
h1.logo {
  font-size: 4rem;
  font-weight: 100;
  margin: 10rem 0 0 0;
  padding: 0;
  transform: scaleY(1.4);
}

.green {
  color: #6ac96a;
  text-shadow: 1px 0px 1px #3e7a3e;
}

.yellow {
  color: yellow;
  text-shadow: 1px 0px 1px rgb(142, 142, 2);
}

.coral {
  color: #ff6666;
  text-shadow: 1px 0px 1px #b34a4a;

}

.blue {
  color: rgb(69, 143, 230);
}

.jigsaw {
  font-family: 'JigsawFont';
}

.handwriting {
  font-family: 'HandwritingFont';
  color: #fafafa;
  font-size: 5rem;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgb(69, 143, 230);
}

.create-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.form-container h2 {
  font-size: 1.7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  margin: 20px 0;
  padding: 0;
}

.form-container {
  background-color: rgb(69, 143, 230);
  border-radius: 20px;
  /* border-color: rgb(36, 85, 141);
  border-width: 3px;
  border-style: solid; */
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  width: 320px;
  margin: 1rem;
}

.form-control {
  color: #F2F2F2;
  font-weight: bold;
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form-control input {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  height: 30px;
  margin: 2px 10px 0;
  padding: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

.start-page .form-container input:focus {
  outline: 2px solid rgb(19, 58, 102);
  outline-offset: -4px;
}

.form-container label {
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 6px 0 0 10px;
  padding: 0;
  font-size: 1.1rem;
}

.form-container Button {
  color: rgb(36, 85, 141);
  margin: 8px 0 0 0;
  height: 35px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  width: 80%;
  border-radius: 15px;
  border: 1px solid rgb(36, 85, 141);
}

.form-control button {
  margin-left: 10%;
}

.create-user-form .form-container {
  background-color: #ff9999;
}

.create-user-form .form-container Button {
  background-color: white;
  border: 2px solid #ff6666;
  color: #ff6666;
}

.create-user-form .form-container input:focus {
  outline: 2px solid #ff6666;
  outline-offset: -4px;
}

/* Puzzle form */
.puzzle-form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.puzzle-form label {
  font-size: 1.2rem;
  margin: 10px 0 0 0;
}

.puzzle-form button {
  margin-top: 15px;
}

.puzzle-form input[type=text] {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  margin: 2px 0;
  padding: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}

/* TODO: Fixa denna */
.react-datepicker button[type="button"] {
  content: "Välj datum";
  background-color: #ff6666;
  color: white;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.60);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
}

.puzzle-form .react-datepicker__input-container input[type=text] {
  margin-left: 10px;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  width: 95%;
  height: 100px;
  margin-top: 3px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
}

textarea input[type=text] {
  font-size: 1.2rem;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}

input[type=file]::file-selector-button {
  content: 'Välj bild';
  display: inline-block;
  background-color: rgb(69, 143, 230);
  color: white;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* System message */
.system-message {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4rem;
}

/* Navigation bar */
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  background-color: rgb(69, 143, 230);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-component {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.navigation-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logout-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.logout-button button {
  background: transparent;
  border: none;
}

.logout-button button img {
  width: 30px;
  height: 30px;
}

.navigation-component p {
  margin: 0;
  padding-top: 5px;
  font-family: 'HandwritingFont', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3rem;
}

/* Content area */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 0;
  /* padding-bottom: 30px; */
  background-color: rgb(196, 224, 255);
}

.puzzle-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100%;
}

.button-area {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: rgb(196, 224, 255);
}

.puzzle-area Button {
  display: inline-block;
  background-color: rgb(69, 143, 230);
  color: white;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Puzzle */
.puzzle-info {
  position: relative;
  width: 100%;
  max-width: 95vw;
  text-align: left;
}

.puzzle-info img {
  max-width: 100%;
  margin: 5px 0;
  max-height: calc(100vh - 160px - 140px);
  display: block;
  border-radius: 5px;
  object-fit: contain;
}

.heavy {
  font-weight: 600;
}

/* Puzzles */
.puzzles {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 5%;
  background-color: rgb(196, 224, 255);
}

.add-puzzle-button-container {
  display: flex;
  justify-content: right;
}

.add-puzzle-button-container button {
  background-color: rgb(196, 224, 255);
  color: black;
  padding: 0px 10px;
  border: gray;
  cursor: pointer;
  font-size: 4rem;
}

.puzzle-area {
  background-color: rgb(196, 224, 255);
}

.puzzles p {
  font-size: 1.5rem;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.puzzles ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.puzzles ul li {
  flex: 0 0 48%;
  margin: 5px 3px;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  overflow: hidden;
}

.puzzles ul li img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.puzzles ul li .text-content {
  padding: 8px;
  text-align: left;
}

.puzzles ul li h3 {
  font-size: 0.8rem;
  margin: 0;
}

.puzzles ul li p {
  font-size: 0.8rem;
  margin: 0;
  text-align: left
}

.puzzles a, .puzzles a:visited {
  text-decoration: none;
  color: #3a3a3a;
}

.image-container {
  position: relative;
}

.lent-out::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.button-area #delete-button {
  background-color: #bb4d4d;
}

.loading {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loading p {
  font-size: 1.5rem;
  margin-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Cursor */
.active-link {
  cursor: pointer;
}

.inactive-link {
  cursor: default;
}